#simplestheme {
	@extend .one-col;
}

::-webkit-resizer {
	// background: $link-hover-color;
}

em {
	font-family: $lora;
	color: $almost-black-10;
}

header {
	resize:vertical;
	overflow: auto;
	.logo {
	  font-family: $sansita;
	  font-size:2.25em;
	  line-height: 18px;
	  text-shadow: 1px 1px 1px #000;
	  margin: .5em;
	  a {
	    text-decoration: none;
	  }
	}	
	.navbar-nav {
		margin: 1em;
		color: $almost-black;
		font-size: 1.25em;
		font-weight: 800;
		letter-spacing: .05em;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #000;
	}
}
