@import "normalize";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../bower_components/scales-utilities-clearfix/clearfix";

// grid
$susy: (
  container: auto,
  columns: 12,
  gutters: .25,
  gutter-position: inside,
  math: fluid,
  output: isolate,
  );

// fonts
$open-sans: 'Open Sans', sans-serif;
$lora: 'Lora', serif;
// colors
$almost-black: #404333;
$almost-white: #fcfcfc;
$lightgray: #f0f0f0;
$neonpink: #F714D9;


// layout
.container {
  @include container; 
  // @extend %clearfix; 
  color: $almost-black;
  background: $almost-white;
  height: 100vh;
}

header {
  @include span(12);
  padding-top:.5em;
  background: $lightgray;
}

.logo {
  @include span(6);
  a {
    color: $almost-black;
    font-size: 2em;
    font-family: $open-sans;
    font-weight: 800;
    text-decoration: none;
  }
}

nav {
  @include span(6);
  ul{
    list-style: none;
    float:right;
    li {
      list-style-image: none;
      display: inline-block;
      margin: 0 1em;
      a {
        color: $almost-black;
        font-size: 1em;
        font-family: $open-sans;
        font-weight: 800;
        letter-spacing: .05em;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

main, footer {
  a, a:link, a:active  {
    color: $neonpink;
    text-decoration: none;
  }
  a:hover {
    color: $neonpink;
    text-decoration: underline;
  }
}

main {
  @include span(10 of 12);
  float:none;
  margin: 0 auto;
  font-family: $lora;
  font-size: 1.25em;
}

footer {
  @include span(12);
  padding: 1em 0;
  position: fixed;
  bottom:0;
}

#home {
  
}