.post {
  @include one-col(false);
  position: relative;
  top: 2.5em;
  max-width: 800px;
  .cg-busy {
    margin: 0;
    top: -30px;
  }
  h1 {
    margin-top:$margin-xl;
    margin-bottom: $margin-xs;
  }
  .credit {
    margin-bottom: $margin-xl;
    display: block;
  }
  p {
    font-family: $font-family-serif;
    font-size: 1.3em;
    line-height: 1.7em;
    color: $almost-black;
  }
  a {
    color: $link-hover-color;
  }
}
