.home {
	@include one-col(false);

	ul {
		list-style: none;
	}
	li {
		padding: .5em 0;
	}
	a:hover {
		text-decoration: none;
		
	}
	h2 {

		font-weight:800;
		line-height: 1.1;
	}
	.see-more {
		margin: 5em auto;
		width:10%;
		.btn-primary:hover {
			background: $link-hover-color;
			border-color: $link-hover-color;
		}
	}
}